/*
 * jQuery FlexSlider v1.8
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */

/* Browser Resets */
.flex-container a:flex-active, .flexslider a:flex-active, .flex-container a:focus, .flexslider a:focus {
 outline: none;
}
.slides, .flex-control-nav, .flex-direction-nav {
	float: none;
	margin: 0;
	padding: 0;
	list-style: none;
	position:relative;
}
/* FlexSlider Necessary Styles
*********************************/
.flexslider {
	margin: 0;
	padding: 0;
}
.flexslider .slides > li {
	display: none;
} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {
	max-width: 100%;
	display: block;
}
.flex-pauseplay span {
	text-transform: capitalize;
}
/* Clearfix for the .slides element */
.slides:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
html[xmlns] .slides {
	display: block;
}
* html .slides {
	height: 1%;
}
/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {
	display: block;
}
/* FlexSlider Default Theme
*********************************/
.flexslider {
	border: 4px solid #fff;
	position: relative;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	zoom: 1;
}
.flexslider .slides {
	zoom: 1;
}
.flexslider .slides > li {
	position: relative;
	margin-bottom: 0;
}
/* Suggested container for "Slide" animation setups. Can replace this with your own, if you wish */
.flex-container {
	zoom: 1;
	position: relative;
}
/* Caption style */
/* IE rgba() hack */
.flex-caption {
	background: none;
	-ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000, endColorstr=#4C000000);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000, endColorstr=#4C000000);
	zoom: 1;
}
.flex-caption {
	width: 96%;
	padding: 2%;
	margin: 0;
	position: absolute;
	left: 0;
	bottom: 0;
	background: rgba(0,0,0,.3);
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,.3);
	font-size: 14px;
	line-height: 18px;
}
/* Direction Nav */
.flex-direction-nav {

}
.flex-direction-nav li a {
	width: 52px;
	height: 52px;
	display: block;
	background: url(theme/bg_direction_nav.png) no-repeat;
	position: absolute;
	top: 50%;
	cursor: pointer;
	text-indent: -999em;
}
.flex-direction-nav li .flex-next {
	background-position: -52px 0;
	right: -21px;
}
.flex-direction-nav li .flex-prev {
	left: -20px;
}
.flex-direction-nav li .disabled {
	opacity: .3;
	filter: alpha(opacity=30);
	cursor: default;
}
/* Control Nav */
.flex-control-nav {
	width: 100%;
	position: absolute;
	bottom: -30px;
	text-align: center;
	z-index:500;
}
.flex-control-nav li {
	margin: 0 0 0 5px;
	display: inline-block;
	zoom: 1;
*display: inline;
}
.flex-control-nav li:first-child {
	margin: 0;
}
.flex-control-nav li a {
	width: 13px;
	height: 13px;
	display: block;
	background: url(theme/bg_control_nav.png) no-repeat;
	cursor: pointer;
	text-indent: -999em;
}
.flex-control-nav li a:hover {
	background-position: 0 -13px;
}
.flex-control-nav li a.flex-active {
	background-position: 0 -26px;
	cursor: default;
}
/*slider - styling*/
.flexslider {
	border: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
}
/*navigation */

.flex-direction-nav li a {
	width: 40px;
	height: 40px;
	display: block;
	position: absolute;
	bottom: 1px;
	top: auto;
	cursor: pointer;
	text-indent: -999em;
	z-index:500;
}
.flex-direction-nav li .flex-prev {
	background: #000000 url(../images/arrow_left.png) center center no-repeat;
	background-color:  rgba(0,0,0,0.8);
}
.flex-direction-nav li .flex-next {
	background: #000000 url(../images/arrow_right.png) center center no-repeat;
	background-color:  rgba(0,0,0,0.8);
}
.flex-direction-nav li .flex-prev {
	left: 0;
}
.flex-direction-nav li .flex-next {
	right: auto;
	left: 41px;
}
.flex-direction-nav li .disabled {
	opacity: .3;
	filter: alpha(opacity=30);
	cursor: default;
}
/*control */
.flex-control-nav {
	width: 100%;
	position: absolute;
	bottom: auto;
	top: 15px;
	text-align: right;
	padding-right: 25px;
	left: -25px;
}
.flex-control-nav li {
	margin: 0 0 0 5px;
	display: inline-block;
	zoom: 1;
*display: inline;
}
/*.flex-control-nav li:last-child {margin: 0 25px 0 5px;}*/
.flex-control-nav li a {
	width: 10px;
	height: 10px;
	display: block;
	background: #222222;
	border: 2px solid #eeeeee;
	cursor: pointer;
	text-indent: 999em;
	border-radius: 50%;
}
.flex-control-nav li a:hover {
	background: #FFD600;
}
.flex-control-nav li a.flex-active {
	background: #FFD600;
	cursor: default;
}
.flex-caption {
	width: auto;
	padding: 0 15px;
	line-height: 40px;
	margin: 0;
	position: absolute;
	left: 82px;
	bottom: 0;
	background: rgba(0,0,0,.8);
	color: #fff !important;
	text-shadow: 0 0 0 rgba(0,0,0,0);
	font-size: 14px;
	margin: 0 !important;
}
.testimonial-slider .flex-direction-nav li a, .twitter-slider .flex-direction-nav li a {
	width: 32px;
	height: 32px;
	display: block;
	position: absolute;
	bottom: 0;
	cursor: pointer;
	text-indent: -999em;
	background-color: #FFD600;
	border-radius: 50%;
	border: 2px solid #ffffff;
	background-size: 20px;
}



.testimonial-slider .flex-direction-nav li .flex-prev, .twitter-slider .flex-direction-nav li .flex-prev {
	left: 45%;
}
.testimonial-slider .flex-direction-nav li .flex-next, .twitter-slider .flex-direction-nav li .flex-next {
	right: 45%;
	left: auto;
}
#home-slider .flex-control-nav {
	bottom: 0;
	top: auto;
	left: auto;
	text-align: center;
}
#home-slider .flex-control-nav li a {
	width: 8px;
	height: 8px;
}
#home-slider .flex-control-nav li a:hover {
	background: white;
}
#home-slider .flex-control-nav li a.flex-active {
	background: white;
	cursor: default;
}
