/*
 * At-Rules
 */

@font-face {
    font-family: mplus-2p-thin;
    src: url("/css/mplus-2p-thin-056.ttf");
}
@font-face {
    font-family: mplus-2p-light;
    src: url("/css/mplus-2p-light-057.ttf");
}

/*
 * Styling Reset
 */

html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, svg, canvas {
    margin: 0;
    padding: 0;
    border: 0;
    font: 1em mplus-2p-thin,Helvetica,arial,freesans,clean,sans-serif;
    -webkit-font-smoothing: subpixel-antialiased; /* safari disables subpixel antialiasing for some reason */
}

/*
 * Page Styling
 */

body {
    color: #eeeeee;
    background: #000004;
}

#map, #animation, #overlay, #foreground {
    position: absolute;
    top: 0;
    left: 0;
}

#details {
    position: absolute;
    bottom: 3%;
    left: 2%;
}

#menu {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: opacity 1s ease, max-height 1s ease;
    -webkit-transition: opacity 1s ease, max-height 1s ease;

    padding: 0 1rem 0 1rem; /* UNDONE: duplicate */
    border-radius: 0.5rem/0.5rem;
}

#menu.visible {
    max-height: 30em;
    overflow: hidden;
    opacity: 1;
    transition: opacity 1s ease, max-height 1s ease;
    -webkit-transition: opacity 1s ease, max-height 1s ease;

    background-color: rgba(30, 30, 30, 0.8); /* UNDONE: duplicate */
    padding: 0 1rem 0 1rem;
    border-radius: 0.5rem/0.5rem;
}

h1, h2 {
    font-size: 2.4em;
}

h3 {
    font-size: 1.5em;
    line-height: 2.4em;
}

p, span {
    font-size: 1.75rem;
}

.sup {
    position: relative;
   	bottom: 0.3em;
   	font-size: 0.6em;
}

.sub {
    position: relative;
   	top: 0.3em;
   	font-size: 0.6em;
}

a, .text-button {
    color: #888;
}

a:hover, a:focus {
    color: #fff;
    transition: color 125ms ease-in;
    -webkit-transition: color 125ms ease-in;
}

.no-touch .text-button:hover, .no-touch .text-button:focus {
    color: #fff;
    transition: color 125ms ease-in;
    -webkit-transition: color 125ms ease-in;
    cursor: pointer;
}

.text-button:active {
    color: #fff;
    transition: color 25ms ease-in;
    -webkit-transition: color 25ms ease-in;
}

#progress, #location, #show-menu {
    font-size: 2.4rem;
    background-color: rgba(0, 0, 4, 0.6);
    padding: 0 1rem 0 1rem;
    border-radius: 0.5rem/0.5rem;
    display: table;
}

#location p {
    font-size: 2.4rem;
    display: table;
}

#location span {
    font-size: 2.4rem;
}

#location-close.invisible {
    display: none;
}

/*
 * SVG Element Styling
 */

.coastline {
    stroke: #ffffff;
    stroke-width: 0.8;
    fill: none;
}

.graticule {
    stroke: #505050;
    stroke-width: 1.0;
    fill: none;
}

.background-sphere {
    stroke: none;
    fill: #303030;
}

.foreground-sphere {
    stroke: #000004;
    stroke-width: 4.0;
    fill: none;
}

.location-mark {
    stroke: #3aff3a;
    stroke-width: 2.5;
    fill: none;
}
